#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	width: 100%;
}

#root:has(> .pip) {
	padding: 0;

	~ .swal2-container {
		display: none;
	}
}

.pip {
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: space-evenly;

	.app-title {
		gap: 10px;

		h1 {
			font-size: 2em;
			margin: 0;
		}

		img {
			width: 40px;
			height: 40px;
		}
	}

	p {
		margin: 0;
	}
}

.root-project {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	gap: 50px;
}

.app-page {
	flex-grow: 1;
}

.app-title {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.participants {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 30px;
	top: 30px;
}

.task-button-row {
	margin: 15px;
}

.textbox {
	box-sizing: border-box;
	border: 1px;
	border-radius: 4px;
	padding: 12px;
	margin: 12.5px 0;
	width: 100%;
	font-size: 16px;
	color: white;
	font-family: inherit;
}
.textbox::placeholder {
	color: rgb(149, 149, 149);
}

.loading-project-modal {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-modal {
	overflow-x: hidden;
}

.project-select {
	margin-bottom: 25px;
}

.project-back-button {
	position: fixed;
	top: 4vh;
	left: 3.5vw;
	color: white;
	background-color: crimson;
	border-radius: 50px;
	align-self: end;
	z-index: 2;
}

.project-top {
	margin-top: 100px;
}

.choice-buttons {
	display: 'inline-block';
	font-weight: bolder;
	margin: 5px 0px;
	padding: 12px 24px;
	border-radius: 0;

	&:first-child {
		border-radius: 4px 0 0 4px;
	}

	&:last-child {
		border-radius: 0 4px 4px 0;
	}
}

img {
	width: 60px;
	height: 60px;
}

.dev {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #3a3a3a;
	padding: 3px 10px;
	border-top-left-radius: 10px;
}
