#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	width: 100%;
}

.root-project {
	display: flex;
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	gap: 50px;
}

.app-page {
	flex-grow: 1;
}

.app-title {
	gap: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.participants {
	display: flex;
	flex-direction: column;
	position: fixed;
	right: 30px;
	top: 30px;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.flexbox-container {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.project-card {
	transition: ease-in-out 300ms;
	background-color: #181818;
}

.project-card:hover {
	transform: scale(1.025);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.background-color {
	background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
	.background-color {
		background-color: rgb(32, 64, 37);
	}
}

.project-card-container {
	overflow-x: auto;
}

.edit-project-button {
	background-color: #202225;
}

.task-button-row {
	margin: 15px;
}

.textbox {
	box-sizing: border-box;
	border: 1px;
	border-radius: 4px;
	padding: 12px;
	margin: 12.5px 0;
	width: 100%;
	font-size: 16px;
	color: white;
	font-family: inherit;
}
.textbox::placeholder {
	color: rgb(149, 149, 149);
}

.loading-project-modal {
	min-height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.project-modal {
	overflow-x: hidden;
}

.project-select {
	margin-bottom: 25px;
}

.project-back-button {
	position: fixed;
	top: 4vh;
	left: 3.5vw;
	color: white;
	background-color: crimson;
	border-radius: 50px;
	align-self: end;
	z-index: 2;
}

.project-top {
	margin-top: 100px;
}

.choice-buttons {
	display: 'inline-block';
	font-weight: bolder;
	margin: 5px 0px;
	padding: 12px 24px;
	border-radius: 0;

	&:first-child {
		border-radius: 4px 0 0 4px;
	}

	&:last-child {
		border-radius: 0 4px 4px 0;
	}
}

img {
	width: 60px;
	height: 60px;
}
