#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.RootProject {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}

.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

.flexbox-container {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.projectCard {
	transition: ease-in-out 300ms;
	background-color: #181818;
}

.projectCard:hover {
	transform: scale(1.025);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}

.BackgroundColour {
	background-color: rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
	.BackgroundColour {
		background-color: rgb(32, 64, 37);
	}
}

.ProjectCardContainer {
	overflow-x: auto;
}

.EditProjectButton {
	background-color: #202225;
}

.textbox {
	box-sizing: border-box;
	border: 1px;
	border-radius: 4px;
	padding: 10px;
	margin: 4px 0px;
	width: 100%;
	font-size: 16px;
}

.choice-button {
	font-weight: bolder;
	margin: 5px 0px;
	padding: 12px 24px;
	border-radius: 0;

	&:first-child {
		border-radius: 4px 0 0 4px;
	}

	&:last-child {
		border-radius: 0 4px 4px 0;
	}
}
