.card-view {
	display: flex;
	font-weight: 100;
	flex-direction: row;
	min-height: 50vh;
}

.card-column {
	border-radius: 10px;
	border-width: 3px;
	margin: 10px;

	h2 {
		margin: 12px;
	}
}

.task-card {
	font-weight: 500;
	margin: 10px;
	border-radius: 10px;
	background: #121212;
	position: relative;
	border: 2px solid transparent;

	&:hover {
		border-color: #242424;
	}

	.name {
		margin: 3px;
		padding: 3px;
	}

	.assignees {
		margin: 5px;
	}
}
