#root {
	padding: 0 !important;
	overflow: hidden;
}

.dashboard-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	color: #fff;
	height: 100vh;
	width: 100vw;
	left: 0 !important;
}

.pie-chart-container {
	flex: 1;
	max-width: 50%;
}

.doughnut-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	min-width: 50vw;
	min-height: 70vh;
}

.empty-tasks-message {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh;
	width: 100%;
	min-width: 50vw;
	text-align: center;
	border-radius: 10px;
	padding: 20px;
	margin: 20px;
}

.empty-tasks-message p {
	font-size: 1.2em;
	font-weight: bold;
}

.task-list-container {
	flex: 1;
	max-width: 50%;
	padding: 20px;
	border-radius: 10px;
	overflow-x: hidden;
}

.project-title {
	font-size: 36px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	margin: 20px 0;
	font-family: 'Helvetica Neue', Arial, sans-serif;
	letter-spacing: 1px;
}

@media (max-width: 768px) {
	.dashboard-container {
		flex-direction: column;
	}
	.pie-chart-container {
		min-width: 100%;
	}
	.doughnut-wrapper {
		height: 50vh;
	}
	.task-list-container {
		min-width: 100%;
	}
}
