#root {
    padding: 0 !important;
    overflow: hidden;
}

.dashboard-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    height: 100vh;
    width: 100vw;
    background-color: #222;
    left:0 !important;
}

.pie-chart-container {
    flex: 1;
    max-width: 50%;
    background-color: #333;
}

.doughnut-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50vw;
    min-height: 70vh;
}

.task-list-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    overflow-x: hidden;
}

.c-data-table {
    max-width: 100%;
    border-collapse: collapse;
}

.c-data-table th, .c-data-table td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

.c-data-table th {
    background-color: #444;
}
