li {
	list-style-type: none;
}

ul {
	list-style-type: none;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 16px;
	padding: 16px;
}

.grid-item {
	font-family: 'Roboto', sans-serif;
	background: #333;
	color: white;
	padding: 20px;
	text-align: left;
	border-radius: 0;
	border: none;
	transition: ease-in-out 0.2s;

	&:hover {
		padding: 17px;
	}
}

.grid-container .grid-item p {
	margin: 0;
	overflow-wrap: break-word;
	word-break: break-all;
}

.grid-container .grid-item p.id {
	font-size: clamp(0.1rem, 2.5vw, 0.5rem);
	text-align: center;
}

.grid-container .grid-item:hover {
	background: #444;
	cursor: pointer;
}

.TaskContainer {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 10px 5px 5px black;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.Avatar {
	border-radius: 5rem;
	transition: 0.2s;
	margin-left: 0.1rem;
	margin-right: 0.1rem;

	&:hover {
		transform: scale(1.15);
	}
}

.AvatarsView {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	z-index: 1;
}

.AvatarsView:hover:before {
	display: block;
}

.AvatarContainer {
	display: inline-block;
	position: relative;
}

.ToolTip {
	position: absolute;
	font-size: medium;
	transition:
		visibility 0.25s,
		opacity 0.25s linear;
	opacity: 0;
	visibility: hidden;
	background: black;
	color: white;
	padding: 0.35rem;
	border-radius: 5px;
	left: 50%;
	transform: translateX(-50%);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	white-space: nowrap;
	justify-content: center;

	margin-top: 2px;
	margin-bottom: 5rem;
	z-index: 1000;
}

.Avatar:hover + .ToolTip {
	transition:
		visibility 0.25s,
		opacity 0.25s linear;
	opacity: 1;
	visibility: visible;
}

.table {
	border-radius: 5px;
	margin: auto;
	/* overflow: visible; */
	max-width: 1000px;
	/* box-shadow: 0px 0px 5px black; */
}

.rdt_Table,
.rdt_TableHeadRow {
	border-radius: 5px 5px 0 0;
	/* box-shadow: 0px 0px 3px black; */
	/* overflow: visible; */
}

.rdt_Pagination {
	border-radius: 0 0 5px 5px;
}

.top-blur {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 1;
	backdrop-filter: blur(50px);
	mask-image: linear-gradient(to bottom, black, transparent);
}

.project-page-switcher {
	position: fixed;
	left: 0;
	right: 0;
	top: 4vh;
	z-index: 2;
}
