li {
	list-style-type: none;
}

ul {
	list-style-type: none;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	grid-gap: 16px;
	padding: 16px;
}

.grid-item {
	display: flex;
	flex-direction: column;
	font-family: 'Roboto', sans-serif;
	background: #181818;
	color: white;
	padding: 20px;
	border-radius: 8px;
	transition: ease-in-out 0.2s;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	&:hover {
		padding: 20px;
	}
}

.grid-item-title {
	font-size: 20px;
}

.grid-container .grid-item p {
	margin: 0;
	overflow-wrap: break-word;
}

.grid-container .grid-item p.id {
	font-size: clamp(0.1rem, 2.5vw, 0.5rem);
	text-align: center;
}

.task-container {
	padding: 1rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	box-shadow: 10px 5px 5px black;
	border: 2px solid black;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.avatar {
	border-radius: 5rem;
	margin: 7px 0.2rem;
	transition: 0.2s;

	&:hover {
		transform: scale(1.15);
	}
}

.avatars-view {
	display: grid;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: fixed;
	z-index: 1;
}

.avatars-view:hover:before {
	display: block;
}

.avatar-container {
	display: inline-block;
	position: relative;
}

.tooltip {
	position: absolute;
	font-size: medium;
	transition:
		visibility 0.25s,
		opacity 0.25s linear;
	opacity: 0;
	visibility: hidden;
	background: black;
	color: white;
	padding: 0.35rem;
	border-radius: 5px;
	left: 50%;
	transform: translateX(-50%);

	padding-left: 0.5rem;
	padding-right: 0.5rem;
	white-space: nowrap;
	justify-content: center;

	margin-top: 2px;
	margin-bottom: 5rem;
	z-index: 1000;
}

.tooltip-left {
	transform: translate(-100%, -160%);
	left: -10px;
}

.avatar:hover + .tooltip {
	transition: opacity 0.25s linear;
	opacity: 1;
	visibility: visible;
}

.table {
	border-radius: 5px;
	margin: auto;
	max-width: 1000px;
}

.table-cell {
	display: flex;
	flex-wrap: nowrap;
}

.task-count {
	font-weight: bold;
	font-size: 20px;
}

.rdt_TableRow {
	padding: 5px;
}

.rdt_Table,
.rdt_TableHeadRow {
	border-radius: 5px 5px 0 0;
	/* box-shadow: 0px 0px 3px black; */
	/* overflow: visible; */
}

.rdt_Pagination {
	border-radius: 0 0 5px 5px;
}

.top-blur {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	height: 100px;
	z-index: 1;
	backdrop-filter: blur(50px);
	mask-image: linear-gradient(to bottom, black, transparent);
}

.project-page-switcher {
	position: fixed;
	left: 0;
	right: 0;
	top: 4vh;
	z-index: 2;
}
