.showLineBreaks {
	white-space: pre-line;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 10px;
	justify-content: space-between;
	margin-top: 20px;
	margin-bottom: 20px;
}

.leftColumn {
	background-color: rgb(20, 21, 22);
	border-radius: 10px;
	width: 50%;
	padding-left: 30px;
	padding-right: 30px;
}

.rightColumn {
	background-color: rgb(20, 21, 22);
	border-radius: 10px;
	flex: 1;
	width: 27%;
	margin-left: '20px';
	justify-content: center;
}
