.showLineBreaks {
	white-space: pre-line;
}

.container {
	display: flex;
	flex-direction: row;
	gap: 10;
	justify-content: space-between;
}

.leftColumn {
	width: 57%;
	margin: '20px';
	vertical-align: auto;
}

.rightColumn {
	flex: 1;
	width: 37%;
	margin: '20px';
	justify-content: center;
}
